.row {
  text-align: center;
  margin:11em;
}

.col {
  border: solid 2px gray;
  border-radius: .2em
}

.col h2 {
  text-align: center;
  margin:0 0 .5em 0;
  font-size:large;
}

.fa-button {
  margin:.5em;padding:.5em;border:3px solid purple;border-radius: 50%;background:purple;color:white;cursor: pointer;
}

#pGi a {
  color:white;
}