/* titres */
h1.titre {
   text-align: center;
}
/* titres 5 et 6 : servent à commenter, annoter */
/* h5 : commentaires masqués */
/* .com commentaires pour l'utilisateur */
h5,
.com,
p.com {
   font-size: 0.9em;
   background-color: lightblue;
   padding: 0.5em;
   margin: 2px;
   font-style: italic;
   font-family: serif;
}
/* .todo "choses à faire" réflexions pour les participants à la création de l'outil */

.todo,
h5.todo,
p.todo {
   background-color: orange;
}
/* h6 : notes de bas de page */
.nbp,
h6,
p.npb {
   font-size: 0.8em;
   font-style: italic;
   color: gray;
   border-left: none;
   margin: 0;
}
/* tableaux (centrés, au moins 60% de large) */
table {
   min-width: 60%;
   margin: 1em auto;
}
/* champs de saisie des formulaires */
input.pac {
   border: none;
   border-bottom: 2px solid green;
   padding: 0 4px;
}

input.short {
   width: 3em;
}
/* différents types de mise en exergue */
blockquote p {
   margin: 7px 0 0;
}
/* références, citations */
.ref {
   font-family: "Liberation serif", Georgia, serif;
   font-style: italic;
   position: relative;
   color: #555;
   border-left: none;
   margin-left: 30px;
   padding: 10px;
   border-radius: 8px;
}

.ref:before {
   font-family: "Liberation serif", Georgia, serif;
   color: #bbb;
   content: "\00AB";
   font-size: 4em;
   line-height: 0.1em;
   margin-right: 0.25em;
   vertical-align: -0.4em;
   position: absolute;
   left: -30px;
   top: 22px;
}

.ref cite {
   color: #585;
}

.ref cite:before {
   content: "\2014 \2009";
}
/* ce qui est "obligatoire" */
.obli {
   margin: 0;
   border-left-color: blue;
}
/* documents à consulter, références à consulter */
.doc {
   margin: 0;
   font-style: italic;
   color: gray;
}
/* --------- */
/* ajustements de style de TiddlyWiki */
.tc-tiddler-body p {
   text-align: justify;
}

.tc-tiddlylink-external {
   font-family: "Liberation Sans Narrow", sans-serif;
   color: green !important;
}
/* pied de page masqué */
footer {
   display: none;
}
/* mise en page pour l'impression du document */
@media print {
   body,
   html {
      height: auto;
      width: 100%;
      margin: 0;
      padding: 0;
   }

   .tc-page-container-wrapper > div {
      display: table;
   }

   .tc-page-container {
      display: table-row-group;
   }

   footer {
      display: table-footer-group;
      /*position: fixed;
      bottom: 0;*/
      width: 100%;
      background: lightgray;
      opacity: 0.85;
      padding: 0;
      height: 8mm;
   }

   footer p {
      margin: 0;
      width: 100%;
   }

   #pied-de-page {
      height: 8mm;
      margin: 0;
      padding: 0.5em 1em;
      width: 100%;
      font-size: 0.8em;
      text-align: center;
      font-style: italic;
   }

   #num {
      float: right;
      font-size: 1em;
   }

   #pied-de-page #num:after {
      content: counter(page);
      counter-increment: page;
   }
   /* nettoyage, masquage des entités inutiles */
   .com,
   .tc-btn-invisible,
   .tc-sidebar-scrollable,
   .tc-subtitle,
   .tc-tags-wrapper,
   .tc-tiddler-title,
   .tc-topbar,
   .todo,
   h5 {
      display: none;
   }

   .tc-tiddlylink,
   .tc-tiddlylink-missing {
      color: black;
      font-style: normal;
   }
   /* améliorations des sauts de page */
   a,
   p {
      orphans: 2;
   }

   h1 {
      page-break-before: always;
   }

   h1.titre {
      font-size: 20pt;
      margin: 8cm 0 5cm;
      page-break-before: avoid;
      line-height: 25pt;
   }

   h1,
   h2,
   h3,
   h4 {
      page-break-after: avoid;
   }

   blockquote {
      page-break-inside: avoid;
   }
}
