/* FEUILLE DE STYLE DE TIDDLYPAC */ 

/* titres */
h1.titre {
   text-align: center;
}

/* Titres 5 : servent à commenter, annoter */
/*    h5, .com : commentaires masqués, commentaires pour l'utilisateur */
.com,
h5,
p.com {
   font-size: .9em;
   background-color: lightgray;
   border-left: none;
   padding: .5em;
   margin: 2px;
   font-style: italic;
   font-family: serif;
}
/*    .todo : "choses à faire" réflexions pour les participants à la création de l'outil */
.todo,
h5.todo,
p.todo {
   font-size: .9em;
   background-color: orange;
   border-left: none;
   padding: .5em;
   margin: 2px;
   font-style: normal;
   font-family: serif;
}

/* Titres 6 : notes de bas de page */
.nbp,
h6,
p.npb {
   font-size: 0.85em;
   font-style: italic;
   color: gray;
   border-left: none;
   margin: 2px 0;
}

/* Tableaux (centrés, au moins 60% de large) */
table {
   min-width: 60%;
   margin: 1em auto;
   font-family:"Liberation Sans Narrow", Georgia, serif;
}

table caption {
   caption-side:top;
   font-style:italic;
   font-family:"Liberation serif", Georgia, serif;
}

table ul, .com ul, .nbp ul, .todo ul {
    margin: 0;
    padding-left: 1em;
}

/* Champs de saisie des formulaires */
input.pac {
   border: none;
   border-bottom: 2px solid green;
   padding: 0 4px;
}

input.short {
   width: 3em;
}

input.mid {
   width: 6em;
}

.pac-btn {
    font-size: 0.8em;
    padding:.25em .5em;
    border-radius: 1em;
}
.pac-btn, .tc-sidebar-lists .pac-btn {
    color: white; 
}
.active {
    background-color: green;
    color: white;
}

/* Différents types de mise en exergue */
blockquote p {
   margin: 7px 0 0;
}
blockquote p:first-child {
   margin: 0;
}
/*     .ref: références, citations */
.ref {
   font-family: "Liberation serif", Georgia, serif;
   font-style: italic;
   position: relative;
   color: #555;
   border-left: none;
   margin-left: 30px;
   padding: 10px;
   border-radius: 8px;
}

.ref:before {
   font-family: "Liberation serif", Georgia, serif;
   color: #bbb;
   content: "\00AB";
   font-size: 4em;
   line-height: 0.1em;
   margin-right: 0.25em;
   vertical-align: -0.4em;
   position: absolute;
   left: -30px;
   top: 22px;
}

.ref cite {
   color: #585;
}

.ref cite:before {
   content: "\2014 \2009";
}
/*      .obli: ce qui est "obligatoire" */
.obli {
   margin: 0;
   border-left-color: #003399;
}
/*      .doc: documents à consulter, références à consulter */
.doc {
   margin: 0;
   font-style: italic;
   color: gray;
}

/* Pied de page masqué */
footer {
   display: none;
}

/* --------- */
/* Ajustements de style de TiddlyWiki */
/* (pour ceux qui ne sont pas configurables dans les options) */
.tc-tiddler-body p {
   text-align: justify;
}

.tc-tiddlylink-external {
   font-family: "Liberation Sans Narrow", sans-serif;
   color: green !important;
}

/* ------------------------------------------ */
/* Mise en page pour l'impression du document */
/* cas des exports */
/*     nettoyage, masquage des entités inutiles */
body.static .tc-story-river {
   padding: 0;
   margin: 0 auto;
   width: 100%;
   max-width: 210mm;
}

body.static .com,
body.static .tc-btn-invisible,
body.static .tc-sidebar-scrollable,
body.static .tc-subtitle,
body.static .tc-tags-wrapper,
body.static .tc-tiddler-title,
body.static .tc-topbar,
body.static .todo,
body.static h5 {
   display: none;
}

body.static .tc-tiddlylink,
body.static .tc-tiddlylink-missing {
   color: black;
   font-style: normal;
}

body.static .visible {
      display:block !important;
   }

/*     améliorations des sauts de page */
a,
p,
ul,
blockquote,
.doc, .obli, .ref {
   orphans: 3;
   widows: 3;
}

h1 {
  margin-top:2em;	
  page-break-before: always;
}

h1.titre, caption {
  page-break-before: avoid;
}

h1,
h2,
h3,
h4,
caption {
  page-break-after: avoid;
}

blockquote {
  page-break-inside: avoid;
}

/*     impression */
@media print {
   body,
   html {
      height: auto;
      width: 100%;
      margin: 0;
      padding: 0;
   }

   .tc-tiddler-frame .tc-tiddler-controls {
   	float: none;
   }
   .tc-dropzone,
   body.static {
      display: table;
   }

   .tc-story-river {
      display: table-row-group;
   }

   footer {
      display: table-footer-group;
      /*position: fixed;
      bottom: 0;*/
      width: 100%;
      opacity: 0.85;
      padding: 0;
      height: 8mm;
   }

   footer p {
      margin: 0;
      width: 100%;
   }

   #pied-de-page {
      height: 8mm;
      margin: 0;
      color: gray;
      border-top: 1px solid lightgray;
      padding: 0.5em 1em;
      width: 100%;
      font-size: 0.8em;
      text-align: center;
      font-style: italic;
   }

   #num {
      color: #353;
      float: right;
      font-size: 1em;
   }

   #pied-de-page #num:after {
      content: counter(page);
      counter-increment: page;
   }
   
   /* nettoyage, masquage des entités inutiles */
   .com,
   .tc-btn-invisible,
   .tc-sidebar-scrollable,
   .tc-subtitle,
   .tc-tags-wrapper,
   .tc-tiddler-title,
   .tc-topbar,
   .todo,
   h5 {
      display: none;
   }

   .tc-tiddlylink,
   .tc-tiddlylink-missing {
      color: black;
      font-style: normal;
   }
    h1.titre {
      font-size: 20pt;
      margin: 5cm 0 5cm;
      line-height: 25pt;
   }

   .visible {
      display:block !important;
   }
}

@page {
   margin:2cm;
   margin-bottom:1cm;
}
